<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mission_to_Mars</title>
    <link rel="stylesheet" 
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    />
</head>
<body class="bg-danger">
    <div class="wrapper">
        <div class="container">
            <div class="jumbotron text-center" style="background-image: url(https://upload.wikimedia.org/wikipedia/commons/2/23/Mars_Wikivoyage_banner.jpg);">
                <h1><strong>Mission to Mars</strong></h1>
                <p><a class="btn-primary btn-lg" href="/scrape"
                    role="button">Scrape New Data</a></p>
                <h6>Image Credit:<a href="https://commons.wikimedia.org/wiki/File:Mars_Wikivoyage_banner.jpg">ESA &amp; MPS for OSIRIS Team MPS/UPD/LAM/IAA/RSSD/INTA/UPM/DASP/IDA, CC BY-SA IGO 3.0</a>, <a href="https://creativecommons.org/licenses/by-sa/3.0/igo/deed.en">CC BY-SA 3.0 IGO</a>, via Wikimedia Commons</h6>

            </div>
        </div>
        <div class="container-fluid">
            <!--Featured Image-->
            <div class="row" id="mars-featured-image">
                <div class="col-md-6">
                    <h2 class="text-info">Featured Mars Image</h2>
                    <img src="{{mars.featured_image }}" class="img-responsive img-rounded" alt="Responsive image"/>
                </div>
                <!-- Mars Facts -->
                <div class="col-md-6">
                    <h2 class="text-info">Mars Facts</h2>
                    {{ mars.facts | safe }}
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <!-- Mars News -->
            <div class="row" id="mars-news">
                <div class="col-md-4">
                <div class="media">
                    <div class="media-body">
                    <h2 class="text-info">Latest Mars News</h2>
                    <h4 class="media-heading">{{mars.news_title}}</h4>
                    {{mars.news_paragraph}}
                    </div>
                </div>
                </div>
   
            <!--hemispheres-->
                <div class="col-md-8" id="mars-hemispheres">
                    <h2 class="text-info text-center">Mars Hemispheres</h2>
                    {% for hemispheres in mars.hemi_images %}
                    <div class="col-md-3">
                    <img src="{{ hemispheres.img_url }}" class="img-responsive img-rounded" alt="Responsive images"/>
                        <div class="row" id=img_title>
                            <h6><strong>{{hemispheres.img_title}}</strong></h6>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div> 
    </div>
</body>
</html>